.input_field_container {
  display: flex;
  flex-direction: column;
}
.input_field {
  height: 42px;
  width: 100%;
  border: 1.3px solid #4a5662;
  border-radius: 4px;
  padding: 9px;
  outline: none;
}

.form_label {
  color: #4a5662;
}

.insert_btn {
  width: 120px;
  border: none;
  background-color: #5b95ff;
  border-radius: 4px;
  height: 37px;
  color: #fff;
  margin-top: 40px;
}

.select_amount {
  display: flex;
  justify-content: space-between;
}

.amount_block {
  color: #4a5662;
  font-size: 15px;
  margin-left: 12px;
  cursor: pointer;
}

.amount_row {
  display: flex;
}
.selected_amount {
  background-color: #4a5662;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}
