<div class="w-100 d-flex justify-content-center">
<!--  <img class="position-absolute" src="./assets/background.png" alt="background">-->
  <div class="container d-flex flex-column gap-4 m-0 p-0">
    <div class="mt-4">
      <h4>MATM</h4>
      <p>Choose a Device to Connect</p>
    </div>
    <div class="w-100 d-flex justify-content-center flex-md-row flex-column align-items-center gap-md-3">
      <div class="card position-relative p-3 w-25 mb-3 mb-md-0" [class.bg-info-subtle]="selected" (click)="onChooseDevice('D180', true)">
        @if (selected) {
          <img class="position-absolute tick-pos" src="./assets/tick.png" alt="tick" width="30">
        }
        <img [src]="pax" draggable="false" class="card-img-top mx-auto" alt="">
        <div class="card-body">
          <p class="card-text text-center">paxD180</p>
        </div>
      </div>
      <div class="card position-relative w-25 p-3" [class.bg-info-subtle]="selected == false" (click)="onChooseDevice('MP63', false)">
        @if (selected == false) {
          <img class="position-absolute tick-pos" src="./assets/tick.png" alt="tick" width="30">
        }
        <img [src]="morefun" draggable="false" class="card-img-top mx-auto" alt="">
        <div class="card-body">
          <p class="card-text text-center">moreFun</p>
        </div>
      </div>
    </div>
    <div class="w-100 d-md-flex justify-content-end">
      <div class="w-100 d-flex flex-column flex-column-reverse justify-content-end flex-md-row gap-3">
        <button class="btn btn-outline-primary px-5">Cancel</button>
        <button class="btn btn-primary px-5" (click)="matmdvc_Conn()">Connect</button>
      </div>
    </div>
  </div>
</div>
