<div class="container d-flex flex-column gap-4 m-2 p-3">
  <div class="">
    <h4>Micro ATM</h4>
  </div>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>Cash Withdraw</button>
      <ng-template ngbNavContent>
        <div class="mb-3">
          <h4 style="color: #546881">Cash Withdraw</h4>
          <p style="color: #A3ADBB">Send Money Everytime and Everywhere </p>
        </div>
        <app-cashwithdrawal
          [matm_amntform]="matm_amntform"
          [deviceUsed]="deviceUsed"
          (intiateCashWithdrawal)="initialiseCashWithDrawal($event)"
        ></app-cashwithdrawal>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Balance Enquiry</button>
      <ng-template ngbNavContent>
        <div class="mb-3">
          <h4 style="color: #546881">Balance Enquiry</h4>
          <p style="color: #A3ADBB">Send Money Everytime and Everywhere </p>
        </div>
        <app-balance-enquiry
          [matm_balanceform]="matm_balanceform"
          [deviceUsed]="deviceUsed"
          (insertOperation)="intiateBalanceEnquiry($event)"
        ></app-balance-enquiry>

      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>
